<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>betpivot.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.4/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/datatables.min.css">
    <link rel="stylesheet" href="/css/datatables-select.min.css">
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.4/js/mdb.min.js"></script>
    <script type="text/javascript" src="/js/datatables.min.js"></script>
    <script type="text/javascript" src="/js/datatables-select.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#performance-table').DataTable({
                "language":
                    {
                        "sEmptyTable": "Tabulka neobsahuje žádná data",
                        "sInfo": "Zobrazuji _START_ až _END_ z celkem _TOTAL_ záznamů",
                        "sInfoEmpty": "Zobrazuji 0 až 0 z 0 záznamů",
                        "sInfoFiltered": "(filtrováno z celkem _MAX_ záznamů)",
                        "sInfoPostFix": "",
                        "sInfoThousands": " ",
                        "sLengthMenu": "Zobraz záznamů _MENU_",
                        "sLoadingRecords": "Načítám...",
                        "sProcessing": "Provádím...",
                        "sSearch": "Hledat:",
                        "sZeroRecords": "Žádné záznamy nebyly nalezeny",
                        "oPaginate": {
                            "sFirst": "První",
                            "sLast": "Poslední",
                            "sNext": "Další",
                            "sPrevious": "Předchozí"
                        },
                        "oAria": {
                            "sSortAscending": ": aktivujte pro řazení sloupce vzestupně",
                            "sSortDescending": ": aktivujte pro řazení sloupce sestupně"
                        }
                    },
                "order": [ 8, 'desc' ],
                "lengthMenu": [ [25, 50, 100, -1], [25, 50, 100, "Všechny"] ]
            });
            $('.dataTables_length').addClass('bs-select');
                $(".preload").fadeOut(100, function() {
                    $(".container").fadeIn(50);
                });
        });
    </script>
    <style>
        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_asc:before,
        table.dataTable thead .sorting_asc_disabled:after,
        table.dataTable thead .sorting_asc_disabled:before,
        table.dataTable thead .sorting_desc:after,
        table.dataTable thead .sorting_desc:before,
        table.dataTable thead .sorting_desc_disabled:after,
        table.dataTable thead .sorting_desc_disabled:before {
            bottom: .5em;
        }
        .container {display:none;}
        .preload {
            width:100px;
            height: 100px;
            position: fixed;
            top: 50%;
            left: 50%;
        }
    </style>
</head>
<body>
    <div class="preload">
        <img src="http://i.imgur.com/KUJoe.gif">
    </div>

    <div class="container">
        <table id="performance-table" class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th class="th-sm">Sázkovka</th>
                    <th class="th-sm">Jméno hráče</th>
                    <th class="th-sm">Tým</th>
                    <th class="th-sm">Typ</th>
                    <th class="th-sm">Kurz</th>
                    <th class="th-sm">Linie</th>
                    <th class="th-sm">Počet bodů</th>
                    <th class="th-sm">Výsledek</th>
                    <th class="th-sm">Čas vsazení</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="result : ${results}">
                    <tr>
                        <td th:text="${result.providerName}">...</td>
                        <td th:text="${result.playerName}">...</td>
                        <td th:text="${result.teamNameId}">...</td>
                        <th:block th:switch="${result.type.name()}">
                            <td th:case="'MORE'">Více než</td>
                            <td th:case="'LESS'">Méně než</td>
                            <td th:case="*">-</td>
                        </th:block>
                        <td th:text="${#numbers.formatDecimal(result.rate, 0, 2)}">...</td>
                        <td th:text="${result.line}">...</td>
                        <td th:text="${result.result}">...</td>
                        <th:block th:switch="${result.resultValue.name()}">
                            <td th:case="'WINNING'">Výhra</td>
                            <td th:case="'NOT_WINNING'">Prohra</td>
                            <td th:case="'NOT_PLAYED'">Nehrál</td>
                            <td th:case="*">-</td>
                        </th:block>
                        <td th:text="${#temporals.format(result.betImportTime, 'dd.MM.yyyy HH:mm:ss')}" th:attr="data-sort=${#temporals.format(result.betImportTime, 'yyyy/MM/dd HH:mm:ss')}">...</td>
                    </tr>
                </th:block>
            </tbody>
            <tfoot>
                <tr>
                    <th>Sázkovka</th>
                    <th>Jméno hráče</th>
                    <th>Tým</th>
                    <th>Typ</th>
                    <th>Kurz</th>
                    <th>Linie</th>
                    <th>Počet bodů</th>
                    <th>Výsledek</th>
                    <th>Čas vsazení</th>
                </tr>
            </tfoot>
        </table>
        <a href="/public/vysledky/csv">Stáhnout CSV</a>
    </div>
</body>
</html>